body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 20px;
  background-color: rgb(0, 0, 60);
}

header {
  display: flex;
  flex-direction: row;
  align-items: first baseline;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: first baseline;
  gap: 20px;
}

.center {
  text-align: center;
}

.title {
  cursor: pointer;
  padding-right: 50px;
  font-size: 50px;
  font-style: italic;
}

.white-font {
  color: whitesmoke;
}

ol li a {
  text-transform: capitalize;
}

.main-page-contents {
  margin: 20px;
}

.main-page-contents h2 {
  text-transform: capitalize;
}

.field {
  padding: 5px;
  border: 2px solid rgb(0, 0, 60);;
  border-radius: 5px;
  width: 200px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.styled-button {
  margin-left: 10px;
  font-weight: bolder;
  padding: 10px;
  width: 110px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: rgb(76, 76, 76);
  color: whitesmoke;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.styled-button-disabled {
  margin-left: 10px;
  font-weight: bolder;
  padding: 10px;
  width: 110px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: rgb(173, 173, 173);
  color: whitesmoke;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Some customizations meant to be paired with styled-button classes */
.wide {
  align-self: center;
  width: 150px;
}

.small{
  padding: 5px;
  width: 60px;
}

.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin-left: 10px;
  font-weight: bolder;
  padding: 5px;
  height: 22px;
  width: 22px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: rgb(255, 0, 0);
  color: whitesmoke;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.styled-button:hover {
  cursor: pointer;
  background-color: rgb(88, 88, 88);
}

.delete-button:hover {
  cursor: pointer;
  background-color: rgb(255, 111, 111);
}

.new-pref-container {
  width: 355px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: 30pt;
}

.grey-font {
  color: rgb(205, 168, 205);
}

.warning-text {
  width: 400px;
  color: rgb(252, 252, 122);
  height: 17px;
}

@media (min-width: 601px) {
  .navbar-aligner {
    width: 190px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 600px) {
  .navbar-aligner {
    height: 110px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}

.settings-button {
  color: whitesmoke;
  font-size: 45px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.list-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.confirmation-holder {
  display: flex;
  flex: row;
}

.forgot-link {
  font-size: 14px;
  color:wheat;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
}

.forgot-link:hover {
  color: rgb(60, 70, 255);
}

.label {
  text-align: center;
  width: 80px;
}

input {
  -webkit-text-size-adjust: none; /* Disable autozoom on iPhone */
}